#/node_modules
/public/hot
/public/storage
/storage/*.key
#/vendor
#.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/tempuser/temp/vendor/bootstrap/scss/bootstrap-grid.css
public/tempuser/temp/vendor/bootstrap/scss/bootstrap-grid.css.map
public/tempuser/temp/vendor/bootstrap/scss/bootstrap-reboot.css
public/tempuser/temp/vendor/bootstrap/scss/bootstrap-reboot.css.map
public/tempuser/temp/vendor/bootstrap/scss/bootstrap.css
public/tempuser/temp/vendor/bootstrap/scss/bootstrap.css.map
public/tempuser/temp/vendor/fontawesome-free/scss/brands.css
public/tempuser/temp/vendor/fontawesome-free/scss/brands.css.map
public/tempuser/temp/vendor/fontawesome-free/scss/fontawesome.css
public/tempuser/temp/vendor/fontawesome-free/scss/fontawesome.css.map
public/tempuser/temp/vendor/fontawesome-free/scss/regular.css
public/tempuser/temp/vendor/fontawesome-free/scss/regular.css.map
public/tempuser/temp/vendor/fontawesome-free/scss/solid.css
public/tempuser/temp/vendor/fontawesome-free/scss/solid.css.map
public/tempuser/temp/vendor/fontawesome-free/scss/v4-shims.css
public/tempuser/temp/vendor/fontawesome-free/scss/v4-shims.css.map
