.banner{
    background-image:url('/img/gur1.png');
    width:100%;
    height:300px;
}
.pel{
    color:white;
    font-family:'Dk Honeyguide caps';
}
.video-belajar{
    width:55px;
    height:55px;
}
.belajar{
    font-family: 'Assistant';
    font-weight:bold;
    color:#4F4F4F;
    font-size:20px;
}
.waktu{
    color:#069DC3;
    font-size:16px;
}

/* footer  */
.lis{
    list-style:none;
}
.fot{
    background-color:#4F4F4F;
    width:100%;
    height:100%;
    margin-top:50px;
    color:white;
}
.in{
    padding-top:30px;
    font-weight:bold;
}
.ten{
    padding-top:15px;
}
.kotak-video{
    background-color:white;
    width:700px;
    height:350px;
    border:1px solid lightgrey;
    border-radius:10px;
    margin-top:-130px;
}
.vid{
    width: 700px;
    height: 300px;
    /* margin-top:-130px; */
    /* border:1px solid black; */
}

/* bagian kotak  */
.card-kelas{
    margin-top:-130px;
}
.card-title{
    color:#00FF00;
    font-weight:bold;
    font-size:30px;
    font-style: italic;
}
.card-title-pre{
    color:red;
    font-weight:bold;
    font-size:30px;
    font-style:italic;
}
