<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hello, world!</title>
  </head>
  <body>

      <header class="banner" style="background-color:#D5EEED;">
        <div class="container">
            <nav class="navbar row navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="./img/logobaru.png" width="120" height="50" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto mr-3">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Beranda</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Kelas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Testimoni</a>
                    </li>
                  </ul>
                  <button class="btn btn-daftar">Daftar</button>
                  <button class="btn btn-masuk">Login</button>
                </div>
            </nav>
        </div>
      </header>


      <section class="tulisan-banner">
        <div class="container">
            <div class="row jrk-banner">
                <div class="col-lg-6">
                    <h1 class="txt-awl">Cari Guru Les & <br> Ikuti Kelas Onlinenya</h1>
                    <p class="gbg">Gabung bersama komunitas belajar online dan rasakan manfaatnya <br> sekarang juga.</p>
                    <form class="form-inline jrk-search">
                      <input class="form-control col-lg-9 col-md-6 col-9 buat-search" type="search" placeholder="Search" aria-label="Search"
                      width="200">
                      <button class="btn btn-search" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <img src="./img/banner-wanita.png" alt="banner-wanita" class="img-fluid banner-wanita">
                </div>
            </div>
          </div>
      </section>

      <section class="bagian2">
        <div class="container">
          <div class="row jrk-section">
            <div class="col-lg-6 col-md-6">
              <img src="./img/gambar2.png" alt="gambar2" class="img-fluid banner-wanita2">
            </div>
            <div class="col-lg-6 col-md-6">
              <h1 class="apaguru">Apa itu <span class="wrn-guru">Guruku ?</span></h1>
              <p class="guruku mt-3">
                Guruku adalah sebuah aplikasi yang dikhususkan untuk para <br>
                pelajar/mahasiswa yang kesulitan dalam mencari tempat pembelajaran <br>
                online yang berkualitas dengan harga yang terjangkau. Tetapi, sekarang <br>
                anda tidak perlu khawatir lagi karena Guruku kini menyediakan <br>
                materi-materi pembelajaran yang sangat berkualitas dengan harga yang <br>
                terjangkau dengan proses yang mudah dan aman.
              </p>
              <button class="btn baca-lengkap">Baca selengkapnya</button>
            </div>
          </div>
        </div>
      </section>

      <section class="kelebihan">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="txt-kelebihan text-center">Kelebihan yang ada di <span class="wrn-guru">Guruku</span></h1>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="card card-lebih">
                <div class="col-lg-12">
                  <img src="./img/materi.png" alt="materi" class="img-fluid ukr-lebih">
                  <h5 class="txt-lebih">Materi</h5>
                  <p class="keterangan-lebih">Terdapat 100++ kelas berkualitas setiap harinya.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="card card-lebih">
                <div class="col-lg-12">
                  <img src="./img/materi.png" alt="materi" class="img-fluid ukr-lebih">
                  <h5 class="txt-lebih">Materi</h5>
                  <p class="keterangan-lebih">Terdapat 100++ kelas berkualitas setiap harinya.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="card card-lebih">
                <div class="col-lg-12">
                  <img src="./img/materi.png" alt="materi" class="img-fluid ukr-lebih">
                  <h5 class="txt-lebih">Materi</h5>
                  <p class="keterangan-lebih">Terdapat 100++ kelas berkualitas setiap harinya.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="card card-lebih">
                <div class="col-lg-12">
                  <img src="./img/materi.png" alt="materi" class="img-fluid ukr-lebih">
                  <h5 class="txt-lebih">Materi</h5>
                  <p class="keterangan-lebih">Terdapat 100++ kelas berkualitas setiap harinya.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="card card-lebih">
                <div class="col-lg-12">
                  <img src="./img/materi.png" alt="materi" class="img-fluid ukr-lebih">
                  <h5 class="txt-lebih">Materi</h5>
                  <p class="keterangan-lebih">Terdapat 100++ kelas berkualitas setiap harinya.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="card card-lebih">
                <div class="col-lg-12">
                  <img src="./img/materi.png" alt="materi" class="img-fluid ukr-lebih">
                  <h5 class="txt-lebih">Materi</h5>
                  <p class="keterangan-lebih">Terdapat 100++ kelas berkualitas setiap harinya.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="rekomendasi-kelas">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 img-kelas">
              <h2 class="txt-rekomendasi">Rekomendasi Kelass Populer</h2>
              <p class="txt2-rekomendasi">
                Jangan mau kalah dengan yang lainnya. Ayo <br>
                latih terus skillmu dan ikuti kelasnya untuk <br>
                menjadi nomor satu.
              </p>
              <button class="btn btn-lihat">Lihat Semua</button>
            </div>
            <div class="col-lg-6">
              <div class="owl-carousel owl-theme carousel-kelas">
                <div class="item item-kelas">
                  <div class="card card-kelas">
                    <img src="./img/wanita1.png" alt="wanita1" class="wanita1">
                    <div class="kategori ml-auto">
                      Pemula
                    </div>
                    <div class="col-lg-12">
                      <h5 class="txt-kelas">Cara mudah menjadi pandai matematika aljabar</h5>
                      <div class="media">
                        <img src="./img/peo.png" class="mr-3 img-fluid" style="width:50px;" alt="people">
                        <div class="media-body txt-mentor">
                          <h5 class="mt-0 nama-mentor">Avet</h5>
                          <p class="exp">Expert Matematika</p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <p class="hrg-kelas">Rp.399.000</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <form action="#" class="d-block">
                            <button class="btn btn-beli btn-block">Beli kelas</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item item-kelas">
                  <div class="card card-kelas">
                    <img src="./img/wanita1.png" alt="wanita1" class="wanita1">
                    <div class="kategori ml-auto">
                      Pemula
                    </div>
                    <div class="col-lg-12">
                      <h5 class="txt-kelas">Cara mudah menjadi pandai matematika aljabar</h5>
                      <div class="media">
                        <img src="./img/peo.png" class="mr-3 img-fluid" style="width:50px;" alt="people">
                        <div class="media-body txt-mentor">
                          <h5 class="mt-0 nama-mentor">Avet</h5>
                          <p class="exp">Expert Matematika</p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <p class="hrg-kelas">Rp.399.000</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <form action="#" class="d-block">
                            <button class="btn btn-beli btn-block">Beli kelas</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item item-kelas">
                  <div class="card card-kelas">
                    <img src="./img/wanita1.png" alt="wanita1" class="wanita1">
                    <div class="kategori ml-auto">
                      Pemula
                    </div>
                    <div class="col-lg-12">
                      <h5 class="txt-kelas">Cara mudah menjadi pandai matematika aljabar</h5>
                      <div class="media">
                        <img src="./img/peo.png" class="mr-3 img-fluid" style="width:50px;" alt="people">
                        <div class="media-body txt-mentor">
                          <h5 class="mt-0 nama-mentor">Avet</h5>
                          <p class="exp">Expert Matematika</p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <p class="hrg-kelas">Rp.399.000</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <form action="#" class="d-block">
                            <button class="btn btn-beli btn-block">Beli kelas</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item item-kelas">
                  <div class="card card-kelas">
                    <img src="./img/wanita1.png" alt="wanita1" class="wanita1">
                    <div class="kategori ml-auto">
                      Pemula
                    </div>
                    <div class="col-lg-12">
                      <h5 class="txt-kelas">Cara mudah menjadi pandai matematika aljabar</h5>
                      <div class="media">
                        <img src="./img/peo.png" class="mr-3 img-fluid" style="width:50px;" alt="people">
                        <div class="media-body txt-mentor">
                          <h5 class="mt-0 nama-mentor">Avet</h5>
                          <p class="exp">Expert Matematika</p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <p class="hrg-kelas">Rp.399.000</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <form action="#" class="d-block">
                            <button class="btn btn-beli btn-block">Beli kelas</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item item-kelas">
                  <div class="card card-kelas">
                    <img src="./img/wanita1.png" alt="wanita1" class="wanita1">
                    <div class="kategori ml-auto">
                      Pemula
                    </div>
                    <div class="col-lg-12">
                      <h5 class="txt-kelas">Cara mudah menjadi pandai matematika aljabar</h5>
                      <div class="media">
                        <img src="./img/peo.png" class="mr-3 img-fluid" style="width:50px;" alt="people">
                        <div class="media-body txt-mentor">
                          <h5 class="mt-0 nama-mentor">Avet</h5>
                          <p class="exp">Expert Matematika</p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <p class="hrg-kelas">Rp.399.000</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <form action="#" class="d-block">
                            <button class="btn btn-beli btn-block">Beli kelas</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="promo">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="nikmati text-center">Nikmati <span class="wrn-guru">Promo</span> Hari Ini</h2>
            </div>
          </div>
          <div class="row mt-5">
            <div class="owl-carousel owl-theme carousel-promo">
              <div class="item">
                <div class="kotak-promo">
                  <!--<div class="col-lg-12">-->
                    <h3 class="work">Work From Home</h3>
                    <p class="txt-work">Dapatkan potongan harga senilai <span class="harga">Rp.50.000,</span> <br>
                      dengan menggunakan kode dibawah ini.</p>
                    <button class="btn btn-promo">WFHYUK</button>
                  <!--</div>-->
                </div>
              </div>
              <div class="item">
                <div class="kotak-promo">
                  <h3 class="work">Work From Home</h3>
                  <p class="txt-work">Dapatkan potongan harga senilai <span class="harga">Rp.50.000,</span> <br>
                    dengan menggunakan kode dibawah ini.</p>
                  <button class="btn btn-promo">WFHYUK</button>
                </div>
              </div>
              <div class="item">
                <div class="kotak-promo">
                  <h3 class="work">Work From Home</h3>
                  <p class="txt-work">Dapatkan potongan harga senilai <span class="harga">Rp.50.000,</span> <br>
                    dengan menggunakan kode dibawah ini.</p>
                  <button class="btn btn-promo">WFHYUK</button>
                </div>
              </div>
              <div class="item">
                <div class="kotak-promo">
                  <h3 class="work">Work From Home</h3>
                  <p class="txt-work">Dapatkan potongan harga senilai <span class="harga">Rp.50.000,</span> <br>
                    dengan menggunakan kode dibawah ini.</p>
                  <button class="btn btn-promo">WFHYUK</button>
                </div>
              </div>
              <div class="item">
                <div class="kotak-promo">
                  <h3 class="work">Work From Home</h3>
                  <p class="txt-work">Dapatkan potongan harga senilai <span class="harga">Rp.50.000,</span> <br>
                    dengan menggunakan kode dibawah ini.</p>
                  <button class="btn btn-promo">WFHYUK</button>
                </div>
              </div>
              <div class="item">
                <div class="kotak-promo">
                  <h3 class="work">Work From Home</h3>
                  <p class="txt-work">Dapatkan potongan harga senilai <span class="harga">Rp.50.000,</span> <br>
                    dengan menggunakan kode dibawah ini.</p>
                  <button class="btn btn-promo">WFHYUK</button>
                </div>
              </div>
              <div class="item">
                <div class="kotak-promo">
                  <h3 class="work">Work From Home</h3>
                  <p class="txt-work">Dapatkan potongan harga senilai <span class="harga">Rp.50.000,</span> <br>
                    dengan menggunakan kode dibawah ini.</p>
                  <button class="btn btn-promo">WFHYUK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="tanggapan">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="txt-tanggapan">Tanggapan Mereka Yang Belajar <br> di <span class="wrn-guru">Guruku</span> </h2>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <img src="./img/wanita-promo.png" alt="wanita-promo" class="img-fluid wanita-tanggapan">
            </div>
            <div class="col-lg-6 col-md-6 untuk-z">
              <div class="kotak-tanggapan ml-auto col-lg-12">
                <img src="./img/petikdua.png" alt="petikdua" class="petikdua">
                <div class="owl-carousel owl-theme carousel-testi">
                  <div class="item">
                    <p class="testi">Sangat menarik, aplikasi ini memudahkan saya untuk <br>
                      mencari guru les dan kelas online agar saya bisa tetap <br> produktif dan mengembangkan skill dan harganya juga <br>
                      sangat terjangkau dengan kualitas guru yang sudah <br>
                      berpelangaman.</p>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="media"></div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <p class="testi">Sangat menarik, aplikasi ini memudahkan saya untuk <br>
                      mencari guru les dan kelas online agar saya bisa tetap <br> produktif dan mengembangkan skill dan harganya juga <br>
                      sangat terjangkau dengan kualitas guru yang sudah <br>
                      berpelangaman.</p>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="media"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="lamar">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 jarak-lamar">
              <h4 class="keahlian ml-auto">Punya Keahlian khusus dan ingin menjadi <br>
                pengajar di <span class="guru-lamar">Guruku?</span> Yuk, gabung menjadi <br>
                mentor.</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 jarak-lamar">
              <button class="btn btn-outline-secondary btn-kirim mr-auto">
                Kirim CV & Portfolio
              </button>
            </div>
          </div>
        </div>
      </section>

      <footer class="foot">
        <div class="container">
          <div class="row jrk-foot">
            <div class="col-lg-3">
              <ul class="foot-ul">
                <li class="foot-awal">Tentang Kami</li>
                <li class="txt-foot">Definisi</li>
                <li class="txt-foot">Tujuan</li>
                <li class="txt-foot">Kontak</li>
                <li class="txt-foot">Berita</li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="foot-ul">
                <li class="foot-awal">Pelajari Lebih</li>
                <li class="txt-foot">Tim kami</li>
                <li class="txt-foot">Fitur</li>
                <li class="txt-foot">Cara transaksi</li>
                <li class="txt-foot">Menjadi pengajar</li>
                <li class="txt-foot">Aplikasi ponsel</li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="foot-ul">
                <li class="foot-awal">Support</li>
                <li class="txt-foot">Akun</li>
                <li class="txt-foot">Pusat informasi</li>
                <li class="txt-foot">Feedback</li>
                <li class="txt-foot">Contact Us</li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="foot-ul">
                <li class="foot-awal">Bahasa</li>
                <li class="jrk-txt-foot">
                  <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Bahasa
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Inggris</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <img src="./img/icon_sosmed.png" alt="ic_sosmed" class="img-fluid ic_sosmed" style="float:right;" width="200">
            </div>
          </div>
        </div>
      </footer>
      <!--<li class="fa fa-angle-left"></li>-->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="./dist/owl.carousel.min.js"></script>
    <script>
      $('.carousel-kelas').owlCarousel({
        //autoplay:true,
        autoplayHoverPause:true,
        // loop:true,
        margin:10,
        //lazyload:true,
        // margin:10,
        // stagePadding:5,
        responsive:{
          0:{
            items:1,
            dots:true
          },
          480:{
            items:1,
            dots:true
          },
          600:{
            items:2,
            dots:true
          },
          900:{
            items:3,
            dots:true
          },
          1000:{
              items:2,
              dots:true
          },
          1263:{
              items:2,
              dots:true
          }
        }
      });

      $('.carousel-promo').owlCarousel({
        autoplay:true,
        autoplayHoverPause:true,
        //loop:false,
        margin:40,
        nav:true,
        lazyload:true,
        // margin:10,
        // stagePadding:5,
        responsive:{
          0:{
            items:1,
            dots:true
          },
          480:{
            items:1,
            dots:true
          },
          600:{
            items:2,
            dots:true
          },
          1000:{
              items:3,
              dots:true
          },
          1263:{
              items:3,
              dots:true
          }
        }
      });

      $('.carousel-testi').owlCarousel({
        autoplay:true,
        autoplayHoverPause:true,
        //loop:false,
        margin:10,
        lazyload:true,
        nav:false,
        //navText : ['<i class="fa fa-angle-left jrk-tombol" aria-hidden="true"></i>','<i class="fa fa-angle-right jrk-tombol" aria-hidden="true"></i>'],
        // margin:10,
        // stagePadding:5,
        responsive:{
          0:{
            items:1,
            //dots:true
          },
          480:{
            items:1,
            //dots:true
          },
          600:{
            items:1,
            //dots:true
          },
          1000:{
              items:1,
              //dots:true
          },
          1263:{
              items:1,
              loops:false,
              //dots:true
          }
        }
      });

    </script>
  </body>
</html>
